.homepage section[role=main] {
    margin-left: 24px;
    margin-right: 24px;
}

.fragment section[role=main] {
    width: calc(100% - 48px);
}

.fragment header[role=banner] .titlearea {
    -ms-grid-column: 3;
    margin-top: 37px;
    margin-left: -96px;
}

body, .comands, .quote, .votes {
    font-size: 17pt;
    font-weight: 400;
    line-height: 1.3636;
    font-family: courier new, lucida console, fixed !important;
}

.comands {
}

.fragment.homepage section {
    overflow-y: auto;
    touch-action: pan-y;
}

.votesicon {
    font-family: "Segoe UI Command";
}

    .votesicon::before {
        content: "\e11d";
    }

.homepage progress.win-ring{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: table;
}